# Compiled Object/Library files
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code & IDEs
.vscode/
.history/
*.log

# Debug and Temp files
*.pdb
*.ilk
*.idb
build/
bin/

# OS files
.DS_Store
Thumbs.db