# === Build & Binary Folders ===
build/
bin/
obj/
out/

# === Executables & Libraries ===
*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.dylib
*.lib
*.a

# === Project Data (Local State) ===
data/users/*.txt
!data/users/6E053DFE.txt
data/users/*_track.txt

# === CMake & IDEs ===
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake
.vscode/
.history/
*.log
*.pdb

# === OS Files ===
.DS_Store
Thumbs.db